*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: sans-serif;
}

/* Header */

.header {
  justify-content: space-between;
  display: flex;
  background: rgb(58, 64, 74);  
}


.logo {
  padding: 20px;
}

.logo img{
  width: 80px;
  height: 70px;
}

.nav-bar {
  align-items: center;
  justify-content: flex-end;
  display: flex;
  
}

.nav-links {
  justify-content: space-around;
  display: flex;
}

.nav-links li a {
  text-transform: uppercase;
  font-weight: 500;
  color: #ffff;
  text-decoration: none;
}

.nav-links li {
  list-style: none;
  font-size: 1.3rem;
  margin: 0px 50px 0px 0px;
}

#login a{
  padding: 15px;
  background: rgb(51, 101, 51) ;
  border-radius: 16px;
  border: solid 2px #ffff;
}

/* Main */

.main {
  align-items: center;
  justify-content: center;
  display: flex;
  background: url(/Projects/3-hDc-Host/assets/night-city.jpg);
  background-size: cover;
  height: 70vh;
  width: 100vw;
}


.text {
  text-align: center;
  flex-wrap: wrap;
  color: #ffff;
  align-items: center;
  flex-direction: column;
  display: flex;
}

#text-0 h1{
  font-weight: 600;
  font-size: 4rem;
}

#text-1 h3 {
  font-weight: 500;
  font-size: 2rem;
}

/* Container - info */

.container {
  padding: 150px 0px 200px 0px;
}

.info {
  flex-wrap:  wrap;
  justify-content: space-around;
  text-align: center;
  display: flex;
}

.info h1 {
  margin-top: 20px;
}
.info p{
  margin-top: 20px;
  width: 400px;
}


.icon {
  margin-top: 30px;
  height: 100px;
  width: 100px;
}


/* Cards */

.text-2 {
  margin-bottom: 70px;
  text-align: center;
  display: flex;
  flex-direction: column;
}


.cards {

  flex-wrap: wrap;
  justify-content: space-around;
  display: flex;
  }

.card {
  margin-top : 120px;
  flex-direction: column;
  display: flex;
  border-radius: 8px;
  background: rgb(189, 189, 189);
  padding: 100px;
}

.wrapper {
  margin-top: -200px;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: rgb(128, 183, 38);
}


#container {
  flex-wrap: wrap;
  margin-bottom: 50px;
  margin-top: 50px;
  height: 600px;
  width: 100vw;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  display: flex;
  flex-direction: column;
  background: #4a4a4a;
}

#container {
  color: #ffff;
  font-size: 2rem;
}

.question {
  border: none;
  border-radius: 16px;
  margin-top: 20px;
  text-align: center;
  width: 500px;
  height: 50px;
}

.question::placeholder {
  color: #000000;
  font-size: 1rem;
  font-weight: 500;
}

.submit-btn {
  color: #fff;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  padding: 10px 30px;
}

.submit-btn input {
  background: #107a48;
}

.footer {
  flex-wrap: wrap;
  padding-bottom: 200px;
  padding-top: 60px;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}
.footer h3 {
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 50px;
  }

.footer h1 {
  font-size: 3rem;
}

.footer form{
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  
}

.footer input {
  margin-bottom: 5px;
  text-align: center;
  width: 400px;
  height: 30px;
}

#submit {
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  color: #ffff;
  background: rgb(83, 160, 83);
  height: 50px;
  width: 200px;
}

@media (max-width: 663px){
  .nav-links {
    display: none;
  }

  .header {
    align-items: center;
    justify-content: center;
  }
}
  